<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="transition:0.5s;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>
  <br>
  <mat-card class="cardPrincipal">
    <div name="renglonPrincipal" class="row">
      <div name="columnaIzquierdaInputs" class="col-3">
        <h2>
          <form [formGroup]="frmVenta" class="darkerFuenteCuerpos">
            <div class="contenedorInputs bordeContenedorInputs">
              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <mat-select formControlName="idCliente" class="darkerFuenteCuerpos" style="font-size:20px;" placeholder="cliente">
                  <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloClientesSelect" [value]="i.idCliente">
                    {{ i.idCliente }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <label *ngIf="frmVenta.controls.idCliente.invalid && frmVenta.controls.idCliente.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <mat-select formControlName="idVendedor" class="darkerFuenteCuerpos" style="font-size:20px;" placeholder="vendedor">
                  <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloVendedoresSelect" [value]="i.idVendedor">
                    {{ i.nombreVendedor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <label *ngIf="frmVenta.controls.idVendedor.invalid && frmVenta.controls.idVendedor.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <input formControlName="pagoTransaccion" type="number" min="1" matInput placeholder="pago" style="color: #f6f2ebe3;">
              </mat-form-field>
              <label *ngIf="frmVenta.controls.pagoTransaccion.invalid && frmVenta.controls.pagoTransaccion.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <div name="contenedorProductos" style="display:inline-block">

                <mat-form-field class="darkerFuenteCuerpos" style="width: 50%;margin-right: 15px;">
                  <mat-select formControlName="idProducto" class="darkerFuenteCuerpos" style="font-size:20px;" placeholder="producto">
                    <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloProductosSelect" [value]="i.idProducto">
                      {{ i.idProducto }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="darkerFuenteCuerpos" style="width:40%;">
                  <div style="display: flex;">
                    <input formControlName="cantidadProducto" type="number" min="1" matInput placeholder="cantidad" style="color: #f6f2ebe3;">
                    <button mat-mini-fab matTooltip="Agrega el producto y su cantidad a la venta" class="btnAcciones btnAniadirEntidad" [disabled]="frmVenta.controls.idProducto.invalid || frmVenta.controls.cantidadProducto.invalid" (click)="transfiereProductos()" style="margin-right: -11px;">+</button>
                  </div>
                </mat-form-field>
                <label *ngIf="(frmVenta.controls.idProducto.invalid && frmVenta.controls.idProducto.dirty) || (frmVenta.controls.cantidadProducto.invalid && frmVenta.controls.cantidadProducto.dirty)" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              </div>
              <div>
              </div>
                <mat-checkbox formControlName="idTipoPago" class="darkerFuenteCuerpos" *ngFor="let i of arregloTiposDePagosSelect" value="{{i.idTipoPago}}" style="color:darkseagreen;" (change)="transfiereTiposDePagos(i.idTipoPago)">{{i.tipoPago}}</mat-checkbox>
              <label *ngIf="frmVenta.controls.idTipoPago.invalid && frmVenta.controls.idTipoPago.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>
              <br>
            </div>
          </form>
        </h2>
      </div>


      <div name="columnaDerechaOutpus" class="col-9">
        <mat-card style="background:#dfdcd4;">
          <br>
          <div name="renglonOutpus" class="row bordeOutputs">
            <div name="columnaIzquierdaOuputs" class="col-6">

              <p class="darkerFuenteTitulos fuenteEncabezadosCentrada" style="color:#2a2d3b;">Productos:</p>
              <div name="tablaProductos" class="listaEntidad">
                <table mat-table [dataSource]="dsProductos" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
                  <ng-container matColumnDef="nombreProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Nombre </th>
                    <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.nombreProducto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="precioUnitarioProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> p.Unitario </th>
                    <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.precioUnitarioProducto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidadProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cantidad </th>
                    <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.cantidadProducto}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos;"></tr>
                </table>
              </div>

            </div>
            <div name="columnaDerechaOuputs" class="col-6">
              <p class="darkerFuenteTitulos fuenteEncabezadosCentrada" style="color:#2a2d3b;">Información General:</p>
              <div name="informacionVenta" class="">
                <table name="tablaTransacciones" mat-table [dataSource]="dsTransacciones" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
                  <ng-container matColumnDef="idTransaccion">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Id Venta </th>
                    <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idTransaccion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="fechaTransaccion">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
                    <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.fechaTransaccion}} </td>
                  </ng-container>

                  <ng-container matColumnDef="numeroProductosEnTransaccion">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> No.Productos </th>
                    <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.numeroProductosEnTransaccion}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
              <br>
                <hr>
                <div *ngFor="let i of arregloTransacciones" style="display: inline-block;">
                  <p class="darkerFuenteTitulos resultadoOperaciones" style="float:right;color:#2a2d3b;"> <i class='fas fa-dollar-sign' style='font-size:24px; margin-right: 33px;'></i>Pago: {{i.pagoTransaccion}} </p>
                  <p class="darkerFuenteTitulos resultadoOperaciones" style="float:left;color:#2a2d3b;"> <i class='fas fa-shopping-cart' style='font-size:24px; margin-right: 19px;'></i>Monto Total: {{i.montoConIvaTransaccion}} </p>
                  <p class="darkerFuenteTitulos resultadoOperaciones" style="float:right;color:#2a2d3b;"> <i class='fas fa-handshake' style='font-size:24px; margin-right: 19px;'></i>Cambio: {{i.cambioTransaccion}} </p>
                </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <button mat-stroked-button class="btnVender darkerFuenteTitulos" style="width:100%;" [disabled]="frmVenta.invalid" (click)="agregarTransaccion()">Vender</button>
        </mat-card>
      </div>
    </div>
    <mat-card class="letreroModulo">
      <div style="margin-bottom: -14px;">
        Ventas <i class='fas fa-shopping-cart' style='font-size: 20px;color: darkseagreen;'></i>
      </div>
    </mat-card>
  </mat-card>
  <div name="redirigirCompras">
    <button mat-fab type="button" class="btnCompras" [routerLink]="[ '/compras']"><i class='fas fa-truck carritoIrCompras'></i></button>
  </div>
</div>
