<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="background: #000000a1;cursor: pointer;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>
  <br>
  <mat-card class="cardPrincipal">
    <div name="renglonPrincipal" class="row">
      <div name="columnaIzquierdaInputs" class="col-4">
        <h2>
          <form [formGroup]="frmVenta" class="darkerFuenteCuerpos">
            <div class="contenedorInputs">
              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <input formControlName="idCliente" matInput  placeholder="idCliente">
              </mat-form-field>
              <label *ngIf="frmVenta.controls.idCliente.invalid && frmVenta.controls.idCliente.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <input formControlName="idVendedor" matInput placeholder="idVendedor">
              </mat-form-field>
              <label *ngIf="frmVenta.controls.idVendedor.invalid && frmVenta.controls.idVendedor.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <input formControlName="pagoTransaccion" type="number" matInput placeholder="pago">
              </mat-form-field>
              <label *ngIf="frmVenta.controls.pagoTransaccion.invalid && frmVenta.controls.pagoTransaccion.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>


              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <div style="display: flex;">
                  <input matInput formControlName="productos"  placeholder="productos">
                  <button mat-mini-fab class="btnAcciones btnAniadirProducto" [disabled]="frmVenta.controls.productos.invalid" (click)="llenarLista()">+</button>
                </div>
              </mat-form-field>
              <label *ngIf="frmVenta.controls.productos.invalid && frmVenta.controls.productos.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>


              <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
                <input formControlName="tiposDePagos" matInput placeholder="tipo de pago">
              </mat-form-field>
              <label *ngIf="frmVenta.controls.tiposDePagos.invalid && frmVenta.controls.tiposDePagos.dirty" style="color: #f6f2ebe3;">Este campo es obligatorio</label>

              <br>
            </div>
          </form>
        </h2>
      </div>
      <div name="columnaDerechaOutpus" class="col-8">
        <mat-card style="background:#00000040;">
          <br>
          <div name="renglonOutpus" class="row bordeOutputs">
            <div name="columnaIzquierdaOuputs" class="col-3">
              <p class="darkerFuenteTitulos fuenteEncabezadosCentrada">Productos:</p>
              <div name="listaProductos" style="height: 165px;overflow-y: auto;">
                <mat-list role="list" style="background: #ffffff70;" *ngFor="let i of arregloProductos">
                  <mat-list-item class="darkerFuenteCuerpos" role="listitem">{{i}}</mat-list-item>
                </mat-list>
              </div>
            </div>
            <div name="columnaDerechaOuputs" class="col-9">
              <p class="darkerFuenteTitulos fuenteEncabezadosCentrada">Información General:</p>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
                <ng-container matColumnDef="idTransaccion">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Id Venta </th>
                  <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.idTransaccion}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaTransaccion">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
                  <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.fechaTransaccion}} </td>
                </ng-container>

                <ng-container matColumnDef="cantidadProductos">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cantidad Productos </th>
                  <td mat-cell *matCellDef="let element" style="text-align:center"> {{element.cantidadProductos}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <br>
              <b>
                <p class="darkerFuenteTitulos" style="color:darkseagreen;float:right;">Monto Total: $ 2000.00 </p>
              </b>
            </div>
          </div>
          <br>
          <br>
          <br>
          <button mat-stroked-button class="btnVender darkerFuenteTitulos" style="width:100%;" [disabled]="frmVenta.invalid">Vender</button>
        </mat-card>
      </div>
    </div>
  </mat-card>
</div>
