.imagenFondo{
  background: url('../../assets/img/fondo6.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

//CONTENEDOR PRINCIPAL
.cardPrincipal{
  background-color: #000000a1;
  border-radius: 6px;
  width: 80%;
  height: 70vh;
  margin: 0 auto;
}

//CONTENDEDOR DE LOS INPUTS
.contenedorInputs > * {
  width: 80%;
  display: block;
}

//BTN PARA REALIZAR UNA VENTA
.btnVender{
  width: 40%;
  color: darkseagreen;
  border: solid 1px;
  float: right;
  margin-top: -50px;
}

//BTN PARA AÑADIR PRODUCTOS A LA NUBE
.btnAniadirProducto{
  color: #2f2e2e;
  width: 18px !important;
  height: 18px !important;
  top: 5px;
}

//FUENTE USADA PARA EL ENCABEZADO ARRIBA DE LA TABLA Y LISTA DE OUTPUTS
.fuenteEncabezadosCentrada{
  font-size: 22px;
  text-align: center;
  color: darkseagreen;
}

//BORDE PARA GRID DE OUTPUTS
.bordeOutputs{
  border: solid 1px darkseagreen;
  border-radius: 6px;
  margin: auto;
}

//SOBREESCRIBIR EL TEMA DE ANGULAR MATERIAL PARA EL INPUT DE BUSCAR:
::ng-deep .mat-focused {
  /*change color of label*/
  color: darkseagreen !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: darkseagreen !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: darkseagreen !important;;
}

::ng-deep.mat-form-field-label{
  color: darkseagreen !important;
}

::ng-deep.mat-mini-fab .mat-button-wrapper {
    display: inherit !important;
    line-height: 18px !important;
    padding: 0!important;
}
