//CONTENDEDOR DE LOS INPUTS
.cardInputs{
  height: 99%;
  width: 95%;
  margin: auto;
  display: inline-block;
  margin-left: 10px;

}
//BTN IMPRIMIR TICKET
.ticket{
  top: -30px!important;
  float: right;
  left: -45px;
}

//BTN PARA REALIZAR UNA VENTA
.btnVender{
  width: 40%;
  float: right;
  margin-top: -50px;
}

//BTN PARA AÑADIR PRODUCTOS AL CARRITO (TABLA PRODUCTOS)
.btnAniadirEntidad{
  color: #2f2e2e;
  width: 18px !important;
  height: 18px !important;
  top: 5px;
}


//FUENTE USADA PARA EL ENCABEZADO ARRIBA DE LA TABLA Y LISTA DE OUTPUTS
.fuenteEncabezadosCentrada{
  font-size: 27px;
  text-align: center;
}

//BORDE PARA GRID DE OUTPUTS
.bordeOutputs{
  border: solid 1px #a5a39d;
  border-radius: 6px;
  margin: auto;
  height: 80%;
}

//ESTILO PARA LISTA DE PRODUCTOS Y TIPOS DE PAGOS
.listaEntidad{
  max-height: 175px;
  overflow-y: auto;
  margin-bottom: 12px;
  width: 100%;
  min-height: 60%;
  max-height: 63%;
}

//MONTO, QUITAR BORDE AL INPUT READONLY DONDE SE MUESTRA EL MONTO
.outputMonto{
  width: 25%;
  background:#f9f9f9;
  border: none;
}

//MONTO, MODIFICA EL LABEL EN GENERAL
.labelOutput{
  font-size:24px;
  margin-top: 25px;
  width:25%
}

//ESTILO PARA ETIQUETAS DE MONTO,CAMBIO,PAGO
.resultadoOperaciones{
  float: right;
  color: #2a2d3b;
  margin-bottom: 0px;
  font-size: 22px!important;
}

//ESTILO PARA BTN QUE REDIRECCIONARA A COMPRAS
.btnCompras{
  float: right;
  margin-right: 5px;
  background: #000000b8;
  transition: 0.2s;
}

.btnCompras:hover{
  float: right;
  margin-right: 9px;
  background: black;
}

//ICONO DE CARRITO DEL BTN QUE REDIRIGE A COMPRAS
.carritoIrCompras{
  font-size: 28px;
  color: darkseagreen;
  margin-left: -3px;
}

//BTN PARA ELIMINAR PRODUCTOS DEL CARRITO (TABLA PRODUCTOS) BASURERO
.btnEliminarProductoInteresado{
  border: none;
  font-size:16px;
  background-color:transparent;
}

//OCULTA EL TICKET DE LA VENTA (LO ESCONDE DEL MODULO POR MILISEGUNDOS CUANDO APARECE)
.ocultarTicket{
  font-size: 14px;
  height: auto;width: 200px;
  margin-left: 200px;
  margin-top: -120%;
}

//BOTON NUEVA VENTA
.nvaVenta{
  float: right;
  margin-top: 25px;
  font-size: 20px
}

//SOBREESCRIBIR EL TEMA DE ANGULAR MATERIAL PARA EL INPUT DE BUSCAR:
//PERSONALIZAR EL COLOR DE INPUT
::ng-deep .mat-focused {/*cambia el color del label cuando se enfoca*/
  color: #272727 !important;
 }
 ::ng-deep.mat-form-field-underline { /*cambia el color del subrayado*/
  background-color: #272727 !important;
  border-color: #272727 !important;
}
::ng-deep.mat-form-field-ripple {/*cambiar el color del subrayado cuando se enfoca*/
 background-color: #272727 !important;
 border-color: #272727 !important;

}
::ng-deep.mat-form-field-label{/*color del label*/
  color: #272727 !important;
}
::ng-deep.mat-input-element {/*color del punto de insercion (parpadeo de barra vertical al escribir)*/
    caret-color: #272727 !important;
}


//SOBREESCRIBIR TAB ANGULAR MATERIAL
::ng-deep.mat-tab-label{ //fuente de cabeceras de tab
  //background-color: #4b2b08 !important;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
}

::ng-deep.mat-ink-bar{
  background-color: #dfdcd4!important;

}

//SOBREESCRIBIR OPTIONS DEL SELECT PARA QUE SE VEAN ARRIBA DEL MODAL
::ng-deep.cdk-overlay-container {
  z-index: 10001!important;
}
//SOBREESCRIBIR COLOR DE FUENTE A SELECT
::ng-deep.mat-select-value {
color: #272727;
}
//AÑADIR PADDING AL TAB EN GENERAL PARA QUESE ALCANCE A DISTINGUIR LA SOMBRA INFERIOR DE LOS CARDS
::ng-deep.cdk-focused .cdk-mouse-focuse{
  color: #272727 !important;
}
//TAMAÑO CHECKBOX
::ng-deep.mat-checkbox{
  font-size: 20px!important;
}
// ACOMODAR EL "+" EN EL BOTON DE AÑADIR PRODUCTOS
::ng-deep.mat-mini-fab{
    display: inherit !important;
    line-height: 18px !important;
    padding: 0!important;
}
