  <br>
    <div name="renglonPrincipal" class="row" style="width:100vw;height: 75vh;"  (window:keydown)="limpiarFormularioAtajoC($event)">
      <div name="columnaIzquierdaInputs" class="col-md-3">
        <mat-card class="cardInputs">
          <form [formGroup]="frmCompra" class="fuenteCuerpos" style="color:#012440;">
              <mat-form-field class="fuenteCuerpos" style="font-size:20px; width: 100%;">
                <input formControlName="idUsuario" matInput placeholder="Vendedor"  style="color:#012440;" readonly>
              </mat-form-field>
              <label *ngIf="frmCompra.controls.idUsuario.invalid && frmCompra.controls.idUsuario.dirty" style="color:red;">Este campo es obligatorio</label>
              <br>

              <mat-form-field class="fuenteCuerpos" style="font-size:20px;width:100%;">
                <mat-select formControlName="idProveedor" class="fuenteCuerpos" style="font-size:20px;" placeholder="proveedor">
                  <mat-option  class="fuenteCuerpos" *ngFor="let i of arregloProveedoresSelect" [value]="i.idProveedor">
                    {{ i.nombreProveedor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <label *ngIf="frmCompra.controls.idProveedor.invalid && frmCompra.controls.idProveedor.dirty" style="color: red;">Este campo es obligatorio</label>

              <mat-form-field class="fuenteCuerpos" style="font-size:20px;width:100%;">
                <mat-select formControlName="idProducto" class="fuenteCuerpos" placeholder="producto">
                  <mat-option class="fuenteCuerpos" *ngFor="let i of arregloProductosSelect" [value]="i">
                    {{ i.nombreProducto }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div style="display: flex;">
                <mat-form-field class="fuenteCuerpos" style="font-size:20px;width:90%;">
                  <div style="display: flex;">
                    <input formControlName="cantidadProducto" type="number" min="1" matInput placeholder="cantidad" style="color: #272727;" (keypress)="soloNumeros($event)">
                  </div>
                </mat-form-field>
                <button mat-mini-fab matTooltip="Agrega el producto y su cantidad a la venta" class="btnAcciones btnAniadirEntidad" [disabled]="frmCompra.controls.idProducto.invalid || frmCompra.controls.cantidadProducto.invalid"
                (click)="transfiereProductos()" style="top: 25px;margin-left: 0px;" color="accent"><i class='fas fa-plus' style="margin-top: -19px;margin-left:0px;"></i></button>
                <label *ngIf="(frmCompra.controls.idProducto.invalid && frmCompra.controls.idProducto.dirty) || (frmCompra.controls.cantidadProducto.invalid && frmCompra.controls.cantidadProducto.dirty)" style="color: #red;">Este campo es
                  obligatorio</label>
              </div>

              <br>
          </form>
        </mat-card>
      </div>
      <div name="columnaDerechaOutpus" class="col-md-9">
        <mat-card style="background:#f9f9f9;height:99%">
          <br>
          <div name="renglonOutpus" class="row bordeOutputs">
            <div name="columnaIzquierdaOuputs" class="col-md-6">

              <p class="fuenteCuerpos fuenteEncabezadosCentrada" style="color:#012440;"><i class='fas fa-shopping-cart'></i>&nbsp; Productos:</p>
              <div name="tablaProductos" class="listaEntidad">
                <table mat-table [dataSource]="dsProductos" class="fuenteCuerpos" style="font-size:98px">
                  <ng-container matColumnDef="nombreProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Nombre </th>
                    <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.nombreProducto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="precioUnitarioProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> p.Unitario </th>
                    <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.precioCompraProducto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidadProducto">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cantidad </th>
                    <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.cantidadProducto}} </td>
                  </ng-container>

                  <ng-container matColumnDef="descartar">
                    <th mat-header-cell *matHeaderCellDef style="text-align:center"> Descartar </th>
                    <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center">
                      <button type="button" class="btnEliminarProductoInteresado"><i class='fas fa-trash-alt' (click)="eliminarProductosCarrito(elemento,i)" style="color:#012440;"></i></button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsProductos"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsProductos;"></tr>
                </table>
                <div id="tablaVentaConcluidaVacia" style="text-align: center;font-size: 20px;">
                  <p class="fuenteCuerpos"><i>Tabla vacía</i></p>
                </div>
                <hr>
              </div>
              <label class="fuenteCuerpos" style="font-size:24px;">Monto $: <input class="outputMonto" type="text" readonly [(ngModel)]="montoAcumulado"></label>
            </div>

            <div name="columnaDerechaOuputs" class="col-md-6">
              <p class="fuenteCuerpos fuenteEncabezadosCentrada" style="color:#012440;"><i class='fas fa-clipboard'></i>&nbsp; Detalles de la Compra:</p>
              <hr>
              <div id="idDetallesCompras" name="informacionCompra" class="fuenteCuerpos" style="text-align:center;font-size: 17px;" *ngFor="let i of arregloCompras">
                <p class="fuenteCuerpos" style="font-size:22px;text-align:center;color:#012440;">
                  <b>ID Compra: </b> {{i.idCompra}}
                  <br><b>Monto $: </b> {{i.montoCompra}}
                  <br><b>Fecha : </b> {{i.fechaCompra | date: 'yyyy-MM-dd HH:mm:ss'}}
                  <br><b>Proveedor: </b> {{i.nombreProveedor}}
                  <br><b>Comprador : </b> {{i.nombreUsuario}}
                  <br><b>Productos: </b> {{i.productos}}
                </p>
              </div>
              <div id="idTablaDetalles" style="text-align: center;font-size: 20px;color:#012440;">
                <p class="fuenteCuerpos"><i>Sin detalles</i></p>
              </div>
              <hr>
              <br>
              <button id="idLimpiarPantallaCompras"  mat-flat-button color="accent" class="fuenteCuerpos nvaCompra" (click)="limpiarFormularioC()">Limpiar Pantalla [F4] </button>
            </div>
          </div>
          <br>
          <button id="idComprar" mat-flat-button color="accent" class="btnComprar fuenteCuerpos" style="width:100%;font-size:22px;" [disabled]="frmCompra.invalid" (click)="agregarCompra()">Comprar</button>
        </mat-card>
      </div>
    </div>
