//CONTENDEDOR DE LOS INPUTS
.cardInputs{
  height: 99%;
  width: 95%;
  margin: auto;
  display: inline-block;
  margin-left: 10px;
}

//BTN PARA REALIZAR UNA VENTA
.btncomprar{
  width: 40%;
  float: right;
  margin-top: -50px;
}


//MONTO, QUITAR BORDE AL INPUT READONLY DONDE SE MUESTRA EL MONTO
.outputMonto{
  width: 50%;
  background:#f9f9f9;
  border: none;
}

//BTN PARA AÑADIR PRODUCTOS AL CARRITO (TABLA PRODUCTOS)
.btnAniadirEntidad{
  color: #2f2e2e;
  width: 18px !important;
  height: 18px !important;
  top: 5px;
}

//FUENTE USADA PARA EL ENCABEZADO ARRIBA DE LA TABLA Y LISTA DE OUTPUTS
.fuenteEncabezadosCentrada{
  font-size: 22px;
  text-align: center;
}

//BORDE PARA GRID DE OUTPUTS
.bordeOutputs{
  border: solid 1px #a5a39d;
  border-radius: 6px;
  margin: auto;
  height: 80%;

}

//BTN PARA ELIMINAR PRODUCTOS DEL CARRITO (TABLA PRODUCTOS) BASURERO
.btnEliminarProductoInteresado{
  border: none;
  font-size:16px;
  background-color:transparent;
}

//ESTILO PARA LISTA DE PRODUCTOS Y TIPOS DE PAGOS
.listaEntidad{
  max-height: 175px;
  overflow-y: auto;
  margin-bottom: 12px;
  width: 100%;
}

//ESTILO PARA ETIQUETAS DE MONTO,CAMBIO,PAGO
.resultadoOperaciones{
  float: right;
  color: #2a2d3b;
  margin-bottom: 0px;
  font-size: 22px!important;
}

//BOTON NUEVA COMPRA (LIMPIAR PANTALLA)
.nvaCompra{
  font-size: 20px;
  float: right;
  display: none;
}
