<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="transition:0.5s;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>

  <mat-card class="cardPrincipal row">
  <mat-tab-group>
    <!-- primer tab -->

    <mat-tab label="Devoluciones">
      <br>
      <mat-card class="contenedorAcciones" style="width: 80%;">
        <div class="row">
          <div class="col-3" style="margin-right: -10%;">
            <button mat-fab class="btnAcciones darkerFuenteTitulos" (click)="openAltaDevolucion(contentDevoluviones)"><i class='fas fa-user-plus icono'></i></button>
            &nbsp;
            <button mat-fab class="btnAcciones darkerFuenteTitulos" [routerLink]="[ '/home']"><i class='fas fa-print icono'></i></button>
          </div>

          <div class="col-9" style="margin-top: -5px;">
            <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
              <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <br>

      <div class="tablaElastica">
        <table mat-table [dataSource]="dsDevoluciones" class="darkerFuenteCuerpos" style="font-size:98px">

          <ng-container matColumnDef="idDevolucion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idDevolucion}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreProducto">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Producto </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreProducto}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreCliente">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cliente </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreCliente}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoProblema">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Categoria Problema </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.tipoProblema}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
            <td mat-cell *matCellDef="let i" style="text-align:center">
              <div class="">
                <!-- contenido del popover -->
                <ng-template  #popTitle>
                  <div class="darkerFuenteCuerpos" style="text-align:center; color: black">
                    Nombre: {{i.nombreProducto}}
                  </div>
                </ng-template>
                <ng-template  #popContent>
                  <div class="darkerFuenteCuerpos" style="font-size:16px!important;">
                    <b>Monto $:</b> {{i.montoConIvaDevolucion}}
                    <br><b>Detalle:</b> {{i.motivoDevolucion}}
                    <br><b>Fecha:</b> {{i.fechaDevolucion}}
                    <br><b>Tipo Compensacion:</b> {{i.tipoCompensacion}}
                  </div>
                </ng-template>
                <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #c3845d;"placement="left"
                [ngbPopover]="popContent" [popoverTitle]="popTitle">Informacion</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsDevoluciones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsDevoluciones;"></tr>
        </table>

      </div>
      <mat-paginator #MatPaginatorDevoluciones
                     [pageSize]="4"
                     [pageSizeOptions]="[4, 16, 32]"
                     style="width: 99.99%;background:#eae4dda1;">
       </mat-paginator>
      <mat-card class="letreroModulo">
        <div style="margin-bottom: -14px;">
          Devoluciones <i class='fas fa-calendar' style='font-size: 20px;color: darkseagreen;'></i>
        </div>
      </mat-card>
    </mat-tab>


    <!-- segundo tab -->


    <mat-tab label="Tipos de Problemas">
      <br>
      <mat-card class="contenedorAcciones" style="width: 80%;">
        <div class="row">
          <div class="col-3" style="margin-right: -10%;">
            <button mat-fab class="btnAcciones darkerFuenteTitulos" (click)="openAltaTipoProblema(contentTiposProblemas)"><i class='fas fa-user-plus icono'></i></button>
            &nbsp;
            <button mat-fab class="btnAcciones darkerFuenteTitulos" [routerLink]="[ '/home']"><i class='fas fa-print icono'></i></button>
          </div>

          <div class="col-9" style="margin-top: -5px;">
            <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
              <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <br>

      <div class="tablaElastica">
        <table mat-table [dataSource]="dsTiposProblemas" class="darkerFuenteCuerpos" style="font-size:98px">

          <ng-container matColumnDef="idTipoProblema">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idTipoProblema}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoProblema">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Problema </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.tipoProblema}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
            <td mat-cell *matCellDef="let i" style="text-align:center">
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #6496c1;" (click)="openEditarTipoProblema(contentTiposProblemas,i.idTipoProblema,i.tipoProblema)">Modificar</button>
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #d06363;" (click)="eliminarTipoProblema(i.idTipoProblema)">Eliminar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTiposProblemas"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTiposProblemas;"></tr>
        </table>

      </div>
      <mat-paginator #MatPaginatorTiposProblemas
                     [pageSize]="4"
                     [pageSizeOptions]="[4, 16, 32]"
                     style="width: 99.99%;background:#eae4dda1;">
       </mat-paginator>
      <mat-card class="letreroModulo">
        <div style="margin-bottom: -14px;">
          Problemas <i class='fas fa-calendar' style='font-size: 20px;color: darkseagreen;'></i>
        </div>
      </mat-card>
    </mat-tab>

    <!-- tercer tab -->
    <mat-tab label="Compensaciones">
      <br>
      <mat-card class="contenedorAcciones" style="width: 80%;">
        <div class="row">
          <div class="col-3" style="margin-right: -10%;">
            <button mat-fab class="btnAcciones darkerFuenteTitulos" (click)="openAltaCompensacion(contentCompensaciones)"><i class='fas fa-user-plus icono'></i></button>
            &nbsp;
            <button mat-fab class="btnAcciones darkerFuenteTitulos" [routerLink]="[ '/home']"><i class='fas fa-print icono'></i></button>
          </div>

          <div class="col-9" style="margin-top: -5px;">
            <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
              <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <br>

      <div class="tablaElastica">
        <table mat-table [dataSource]="dsCompensaciones" class="darkerFuenteCuerpos" style="font-size:98px">

          <ng-container matColumnDef="idCompensacion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idCompensacion}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoCompensacion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Compensacion </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.tipoCompensacion}} </td>
          </ng-container>

          <ng-container matColumnDef="descripcionCompensacion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Descripcion </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.descripcionCompensacion}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
            <td mat-cell *matCellDef="let i" style="text-align:center">
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #6496c1;" (click)="openEditarCompensacion(contentCompensaciones,i.idCompensacion,i.tipoCompensacion,i.descripcionCompensacion)">Modificar</button>
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #d06363;" (click)="eliminarCompensacion(i.idCompensacion)">Eliminar</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCompensaciones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCompensaciones;"></tr>
        </table>

      </div>
      <mat-paginator #MatPaginatorCompensaciones
                     [pageSize]="4"
                     [pageSizeOptions]="[4, 16, 32]"
                     style="width: 99.99%;background:#eae4dda1;">
       </mat-paginator>
      <mat-card class="letreroModulo">
        <div style="margin-bottom: -14px;">
          Compensaciones <i class='fas fa-calendar' style='font-size: 20px;color: darkseagreen;'></i>
        </div>
      </mat-card>
    </mat-tab>

  </mat-tab-group>
</mat-card>

<!-- codigo modal 1/3 devoluciones-->

  <ng-template #contentDevoluviones let-modal>
    <div class="modal-header">
      <h3 class="modal-title darkerFuenteTitulos" id="modal-basic-title">{{titulo}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmDevoluciones">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="montoConIvaDevolucion" type="text"  matInput placeholder="Monto ($)" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.montoConIvaDevolucion.invalid && frmDevoluciones.controls.montoConIvaDevolucion.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="motivoDevolucion"  type="text" matInput placeholder="Motivo" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.motivoDevolucion.invalid && frmDevoluciones.controls.motivoDevolucion.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos">
          <mat-select formControlName="idCliente" class="darkerFuenteCuerpos" placeholder="Cliente">
            <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloClientesSelect" [value]="i.idCliente">
              {{ i.nombreCliente }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.idCliente.invalid && frmDevoluciones.controls.idCliente.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos">
          <mat-select formControlName="idTipoProblema" class="darkerFuenteCuerpos" placeholder="Clasificacion Problema">
            <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloTiposProblemasSelect" [value]="i.idTipoProblema">
              {{ i.tipoProblema }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.idTipoProblema.invalid && frmDevoluciones.controls.idTipoProblema.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos">
          <mat-select formControlName="idProducto" class="darkerFuenteCuerpos" placeholder="Producto">
            <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloProductosSelect" [value]="i.idProducto">
              {{ i.nombreProducto }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.idProducto.invalid && frmDevoluciones.controls.idProducto.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos">
          <mat-select formControlName="idCompensacion" class="darkerFuenteCuerpos" placeholder="Compensacion">
            <mat-option  class="darkerFuenteCuerpos" *ngFor="let i of arregloCompensacionesSelect" [value]="i.idCompensacion">
              {{ i.tipoCompensacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmDevoluciones.controls.idCompensacion.invalid && frmDevoluciones.controls.idCompensacion.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnEjecutar darkerFuenteTitulos margenSuperior" [disabled]="frmDevoluciones.invalid" (click)="ejecutarPeticionDevolucion()">Ejecutar</button>
    </div>
  </ng-template>

<!-- codigo modal 2/3 tipos de pagos-->

  <ng-template #contentTiposProblemas let-modal>
    <div class="modal-header">
      <h3 class="modal-title darkerFuenteTitulos" id="modal-basic-title">{{titulo}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmTiposProblemas">
        <input formControlName="idTipoProblema" type="hidden">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="tipoProblema" type="text"  matInput placeholder="Tipo Problema" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmTiposProblemas.controls.tipoProblema.invalid && frmTiposProblemas.controls.tipoProblema.dirty">Este campo es obligatorio</label>
        <br>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnEjecutar darkerFuenteTitulos margenSuperior" [disabled]="frmTiposProblemas.invalid" (click)="ejecutarPeticionTipoProblema()">Ejecutar</button>
    </div>
  </ng-template>

<!-- codigo modal 3/3 compensaciones-->

  <ng-template #contentCompensaciones let-modal>
    <div class="modal-header">
      <h3 class="modal-title darkerFuenteTitulos" id="modal-basic-title">{{titulo}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmCompensaciones">
        <input formControlName="idCompensacion" type="hidden">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="tipoCompensacion" type="text" matInput placeholder="Tipo Compensacion" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmCompensaciones.controls.tipoCompensacion.invalid && frmCompensaciones.controls.tipoCompensacion.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="descripcionCompensacion"  type="text" matInput placeholder="Descripcion" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmCompensaciones.controls.descripcionCompensacion.invalid && frmCompensaciones.controls.descripcionCompensacion.dirty">Este campo es obligatorio</label>
        <br>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnEjecutar darkerFuenteTitulos margenSuperior" [disabled]="frmCompensaciones.invalid" (click)="ejecutarPeticionCompensacion()">Ejecutar</button>
    </div>
  </ng-template>

</div>
