<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="transition:0.5s;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>
  <mat-card class="cardPrincipal row">
    <mat-tab-group>

      <!--primer tab-->

      <mat-tab label="Reporte Economico">
        <br>
        <mat-card class="contenedorAcciones">
          <div style="margin-top: -7px;">
            <div name="renglonDeFiltrado" class="row">
                <div class="col-9">
                  <form name="formularioFiltrarReportes" [formGroup]="frmFiltrado">
                    <mat-form-field class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaInicio" matInput [matDatepicker]="picker" placeholder="Fecha Inicio" style="color: darkseagreen;">
                      <mat-datepicker-toggle matSuffix [for]="picker" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field  class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaFinal" matInput [matDatepicker]="picker1" placeholder="Fecha Final">
                      <mat-datepicker-toggle matSuffix [for]="picker1" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-3">
                  <div style="margin-top: 15px;">
                    <button mat-stroked-button class="btnFiltrar darkerFuenteTitulos" (click)="generarReportes()">Filtrar</button>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
        <br>
        <div name="tablaReportesEconomicos">
          <div style="height: 49%;overflow: auto;">
            <table mat-table [dataSource]="dsReporteEconomico" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
              <ng-container matColumnDef="montoTransacciones">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Monto Transacciones </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.montoTransacciones}} </td>
              </ng-container>

              <ng-container matColumnDef="montoCompras">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Monto Compras </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.montoCompras}} </td>
              </ng-container>

              <ng-container matColumnDef="utilidad">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Utilidad </th>
                <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.utilidad}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
        <mat-card class="letreroModulo">
          <div style="margin-bottom: -14px;">
            Reporte Economico <i class='fas fa-balance-scale' style='font-size: 20px;color: darkseagreen;'></i>
          </div>
        </mat-card>
      </mat-tab>

      <!--segundo tab-->

      <mat-tab label="Viabilidad Productos">
        <br>
        <mat-card class="contenedorAcciones">
          <div style="margin-top: -7px;">
            <div name="renglonDeFiltrado" class="row">
                <div class="col-9">
                  <form name="filtradoViabilidadProductos" [formGroup]="frmViabilidadProductos">
                    <mat-form-field class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaInicio" matInput [matDatepicker]="picker2" placeholder="Fecha Inicio" style="color: darkseagreen;">
                      <mat-datepicker-toggle matSuffix [for]="picker2" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field  class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaFinal" matInput [matDatepicker]="picker3" placeholder="Fecha Final">
                      <mat-datepicker-toggle matSuffix [for]="picker3" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-3">
                  <div style="margin-top: 15px;">
                    <button mat-stroked-button class="btnFiltrar darkerFuenteTitulos" (click)="generarViabilidad()">Filtrar</button>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
        <br>
        <div name="tablaViabilidadProductos">
          <div style="height: 49%;overflow: auto;">
            <table mat-table [dataSource]="dsViabilidadProductos" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
              <ng-container matColumnDef="nombreProducto">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Producto </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.nombreProducto}} </td>
              </ng-container>

              <ng-container matColumnDef="vendidos">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Estatus </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.vendidos}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsMP"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsMP;"></tr>
            </table>
          </div>
        </div>
        <mat-card class="letreroModulo">
          <div style="margin-bottom: -14px;">
            Viabilidad Productos <i class='fas fa-chart-line' style='font-size: 20px;color: darkseagreen;'></i>
          </div>
        </mat-card>
      </mat-tab>


      <!--tercer tab-->

      <mat-tab label="Ventas Vendedores">
        <br>
        <mat-card class="contenedorAcciones">
          <div style="margin-top: -7px;">
            <div name="renglonDeFiltrado" class="row">
                <div class="col-9">
                  <form name="filtradoRendimientoVendedores" [formGroup]="frmRendimientoVendedores">
                    <mat-form-field class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaInicio" matInput [matDatepicker]="picker4" placeholder="Fecha Inicio" style="color: darkseagreen;">
                      <mat-datepicker-toggle matSuffix [for]="picker4" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker4></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field  class="darkerFuenteCuerpos inputFiltrarxFecha" style="color: darkseagreen;">
                      <input formControlName="fechaFinal" matInput [matDatepicker]="picker5" placeholder="Fecha Final">
                      <mat-datepicker-toggle matSuffix [for]="picker5" style="color: #dddad3;"></mat-datepicker-toggle>
                      <mat-datepicker #picker5></mat-datepicker>
                    </mat-form-field>
                  </form>
                </div>
                <div class="col-3">
                  <div style="margin-top: 15px;">
                    <button mat-stroked-button class="btnFiltrar darkerFuenteTitulos" (click)="generarRendimientoVendedores()">Filtrar</button>
                  </div>
                </div>
            </div>
          </div>
        </mat-card>
        <br>
        <div name="tablaViabilidadProductos">
          <div style="height: 49%;overflow: auto;">
            <table mat-table [dataSource]="dsRendimientoVendedores" class="mat-elevation-z8 darkerFuenteCuerpos" style="font-size:98px">
              <ng-container matColumnDef="nombreVendedor">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Vendedor </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.nombreVendedor}} </td>
              </ng-container>

              <ng-container matColumnDef="vendidos">
                <th mat-header-cell *matHeaderCellDef style="text-align:center"> Vendidos </th>
                <td mat-cell *matCellDef="let i"style="text-align:center"> {{i.vendidos}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsRV"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsRV;"></tr>
            </table>
          </div>
        </div>
        <mat-card class="letreroModulo">
          <div style="margin-bottom: -14px;">
            Rendimiento Vendedores <i class='fas fa-chart-pie' style='font-size: 20px;color: darkseagreen;'></i>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card>

</div>
