//CARD DONDE ESTAN LA MAYORIA DE COMPONENTES (COMO LA TABLA)
.cardPrincipal{
  background-color: #000000bd;
  border-radius: 6px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  transition: 0.5s;
}

//BTN PARA EJECUTAR UNA PETICION POST O PUT DEL MODAL
.btnEjecutar{
    color: #191818;
    border: solid 1px #676767;
    margin: auto;
    width: 65%;
    font-size: 20px;
}

//LONGITUDES DE LA TABLA, EVITA QUE SE DESBORDEN LOS DATOS DE LA TABLA
.tablaElastica{
  overflow-y: auto;
  min-height: auto;
  max-height: 45%;
  transition: 0.5s;
}

//PARA POPOVER DE MAS INFORMACION
.popover{
  z-index: 1005!important;
}

//SOBREESCRIBIR EL TEMA DE ANGULAR MATERIAL PARA EL INPUT DE BUSCAR:
//PERSONALIZAR EL COLOR DE INPUT
::ng-deep .mat-focused {/*cambia el color del label cuando se enfoca*/
  color: #272727 !important;
 }
 ::ng-deep.mat-form-field-underline { /*cambia el color del subrayado*/
  background-color: #272727 !important;
  border-color: #272727 !important;
}
::ng-deep.mat-form-field-ripple {/*cambiar el color del subrayado cuando se enfoca*/
 background-color: #272727 !important;
 border-color: #272727 !important;

}
::ng-deep.mat-form-field-label{/*color del label*/
  color: #272727 !important;
}
::ng-deep.mat-input-element {/*color del punto de insercion (parpadeo de barra vertical al escribir)*/
    caret-color: #272727 !important;
}


//SOBREESCRIBIR TAB ANGULAR MATERIAL
::ng-deep.mat-tab-label{ //fuente de cabeceras de tab
  //background-color: #4b2b08 !important;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
}

::ng-deep.mat-ink-bar{
  background-color: #dfdcd4!important;

}

//SOBREESCRIBIR OPTIONS DEL SELECT PARA QUE SE VEAN ARRIBA DEL MODAL
::ng-deep.cdk-overlay-container {
  z-index: 10001!important;
}
//SOBREESCRIBIR COLOR DE FUENTE A SELECT
::ng-deep.mat-select-value {
color: #272727;
}
//AÑADIR PADDING AL TAB EN GENERAL PARA QUESE ALCANCE A DISTINGUIR LA SOMBRA INFERIOR DE LOS CARDS
::ng-deep.mat-tab-body-content {
  padding: 2px!important;
}
