<div class="imagenFondo">
  <br>
  <mat-card class="cardFormulario">
    <form [formGroup]= "frmLogin"  class="darkerFuenteCuerpos">
      <div style="text-align: center;">
        <h3>Hola!</h3>
        <h1>Bienvenido</h1>
      </div>
      <div class="contenedorInputs">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
          <input formControlName="nombreUsuario" matInput placeholder="usuario">
        </mat-form-field>

        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px;">
          <input formControlName="passwordUsuario" matInput placeholder="Contraseña">
        </mat-form-field>
        <br>
        <div>
          <mat-slide-toggle style="float: right;" color="primary">Gerente</mat-slide-toggle>
        </div>
        <br>
      </div>
    </form>
    <br>
    <button mat-stroked-button class="btLogin darkerFuenteTitulos margenSuperior" (click)="login()">Ingresar</button>
  </mat-card>
</div>
