<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a [routerLink]="['/transacciones']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Transacciones <i class='fas fa-exchange-alt' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/proveedores']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Proveedores  <i class='fas fa-box-open' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/clientes']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Clientes <i class='fas fa-user-check' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/facturas']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Operaciones <i class='fas fa-file-alt' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/productos']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Productos <i class='fas fa-paw' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/devoluciones']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Devoluciones <i class='fas fa-handshake' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>
  <a [routerLink]="['/categorias']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Categorias <i class='fas fa-bezier-curve' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/vendedores']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Vendedores <i class='fas fa-trophy' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/herramientas']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Herramientas <i class='fas fa-toolbox' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/usuarios']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Usuarios <i class='fas fa-user-lock' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>

  <a [routerLink]="['/accesos']" mat-list-item class="fuenteCuerpos">
    <span mat-line>Accesos <i class='fas fa-user-clock' style='font-size: 20px;color: #f9f9f9;'></i></span>
  </a>
</div>
<div id="main" style="position: fixed;z-index: 1;">
  <div class="hamburguesa">
    <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  </div>
</div>
<router-outlet></router-outlet>
