<br>
<br>
<br>
<mat-tab-group id="contenido">
<!-- TAB 1 PRODUCTOS  -->
  <mat-tab label="Productos">
    <br>
    <mat-card class="contenedorAcciones" style="width: 80%;">
      <div class="row">
        <div class="col-3" style="margin-right: -10%;">
          <button mat-fab class="btnAcciones fuenteTitulos" (click)="openAltaProducto(contentProductos)"><i class='fas fa-user-plus icono'></i></button>
          &nbsp;
          <button mat-fab class="btnAcciones fuenteTitulos"><i class='fas fa-print icono'></i></button>
        </div>

        <div class="col-9" style="margin-top: -5px;">
          <mat-form-field class="fuenteCuerpos inputBuscar">
            <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar">
          </mat-form-field>
        </div>
      </div>
    </mat-card>
    <br>

    <!-- card contenedora de tabla -->
    <div name="cardTablaRegistros">
      <mat-card style="width: 98%;margin: auto;">
        <div class="tablaElastica">
          <table mat-table [dataSource]="dsProductos" class="fuenteCuerpos" style="font-size:98px">

            <ng-container matColumnDef="idProducto">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
              <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idProducto}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreProducto">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Nombre </th>
              <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreProducto}} </td>
            </ng-container>

            <ng-container matColumnDef="detalleProducto">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Marca </th>
              <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.detalleProducto}} </td>
            </ng-container>

            <ng-container matColumnDef="stockProducto">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Stock </th>
              <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.stockProducto}} </td>
            </ng-container>

            <ng-container matColumnDef="precioUnitarioProducto">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> P.Unitario </th>
              <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.precioUnitarioProducto}} </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
              <td mat-cell *matCellDef="let i" style="text-align:center">
                  <button mat-stroked-button class="fuenteCuerpos btnAccionesColumna" (click)="openScrollableContentProductos(longContentProductos,i.idProducto)">Informacion</button>
                  <button mat-stroked-button class="fuenteCuerpos btnAccionesColumna" (click)="openEditarProducto(contentProductos,i.idProducto, i.nombreProducto, i.detalleProducto, i.contenidoProducto, i.fechaCaducidadProducto, i.paisOrigenProducto,i.stockProducto,i.puntosProducto, i.precioUnitarioProducto, i.precioCompraProducto, i.idCategoria, i.idAlmacen)">Modificar</button>
                  <button mat-stroked-button class="fuenteCuerpos btnAccionesColumna" (click)="eliminarProducto(i.idProducto)">Eliminar</button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <mat-paginator [pageSize]="4" [pageSizeOptions]="[4, 16, 32]" showFirstLastButtons style="width: 99.99%;background-color: white!important;"></mat-paginator>
      </mat-card>
    </div>
  </mat-tab>

<!-- TAB 2 CATEGORIAS  -->
  <mat-tab label="Categorias">
    <app-categorias></app-categorias>
  </mat-tab>
</mat-tab-group>


<!-- SECCION DE MODALES -->



<!-- modal productos - agregar/editar -->
<ng-template #contentProductos let-modal>
  <div class="modal-header">
    <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin-left:32%;">{{titulo}}&nbsp;<i class='fas fa-box' style='font-size: 20px;'></i></h3>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="frmProductos">
      <input formControlName="idProducto" type="hidden">
      <div name="par1NombreMarca" style="display:flex;">
        <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
          <input formControlName="nombreProducto" type="text" matInput placeholder="Nombre" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.nombreProducto.invalid && frmProductos.controls.nombreProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="fuenteCuerpos inputModal">
          <input formControlName="detalleProducto" type="text" matInput placeholder="Marca " style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.detalleProducto.invalid && frmProductos.controls.detalleProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
      </div>

      <div name="par2ContenidoCaducidad" style="display:flex;">
        <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
          <input formControlName="contenidoProducto" type="text" matInput placeholder="Contenido" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.contenidoProducto.invalid && frmProductos.controls.contenidoProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="fuenteCuerpos inputModal">
          <input formControlName="fechaCaducidadProducto" matInput [matDatepicker]="picker" placeholder="Caducidad" style="text-align:center;;">
          <mat-datepicker-toggle matSuffix [for]="picker" style="color: #dddad3;"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <label *ngIf="frmProductos.controls.fechaCaducidadProducto.invalid && frmProductos.controls.fechaCaducidadProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
      </div>

      <div name="par3PaisStock" style="display:flex;">
        <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
          <input formControlName="paisOrigenProducto" type="text" matInput placeholder="Pais Origen" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.paisOrigenProducto.invalid && frmProductos.controls.paisOrigenProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="fuenteCuerpos inputModal">
          <input formControlName="stockProducto" type="number" matInput placeholder="Stock" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.stockProducto.invalid && frmProductos.controls.stockProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
      </div>

      <div name="par4PUnitarioPVenta" style="display:flex;">
        <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
          <input formControlName="precioUnitarioProducto" type="number" min="1" matInput placeholder="Precio Venta" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.precioUnitarioProducto.invalid && frmProductos.controls.precioUnitarioProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="fuenteCuerpos inputModal">
          <input formControlName="precioCompraProducto" type="number" min="1" matInput placeholder="Precio Compra" style="text-align:center;">
        </mat-form-field>
        <label *ngIf="frmProductos.controls.precioCompraProducto.invalid && frmProductos.controls.precioCompraProducto.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
      </div>
      <!--mat-form-field class="fuenteCuerpos inputModal" >
        <input formControlName="puntosProducto" matInput type="number" min="1" placeholder="puntosProducto" style="text-align:center;">
      </mat-form-field>
      <label *ngIf="frmProductos.controls.puntosProducto.invalid && frmProductos.controls.puntosProducto.dirty" style="color:red;">Este campo es obligatorio</label>
      <br-->
      <div name="par5CategoriaAlmacen" style="display:flex;">
        <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
          <mat-select formControlName="idCategoria" class="fuenteCuerpos" placeholder="Categoria">
            <mat-option class="fuenteCuerpos" *ngFor="let i of arregloCategoria" [value]="i.idCategoria">
              {{ i.nombreCategoria }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmProductos.controls.idCategoria.invalid && frmProductos.controls.idCategoria.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="fuenteCuerpos inputModal">
          <mat-select formControlName="idAlmacen" class="fuenteCuerpos" placeholder="Tel. Almacen">
            <mat-option class="fuenteCuerpos" *ngFor="let i of arregloAlmacenes" [value]="i.idAlmacen">
              {{ i.telefonoAlmacen }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <label *ngIf="frmProductos.controls.idAlmacen.invalid && frmProductos.controls.idAlmacen.dirty" style="color:red;">Este campo es obligatorio</label>
        <br>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="background: #f6f2ebe3;">
    <button mat-stroked-button class="btnEjecutar fuenteCuerpos margenSuperior" [disabled]="frmProductos.invalid" (click)="ejecutarPeticion()">Ejecutar</button>
  </div>
</ng-template>

<!-- modal informacion productos -->

<ng-template #longContentProductos let-modal>
  <div class="modal-header">
    <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin:auto;">
      Detalles del Producto
      <i class='fas fa-file-alt' style='font-size:24px'></i>
    </h3>
  </div>
  <div class="modal-body" *ngFor="let i of arregloDetalleProducto">
    <p class="fuenteCuerpos" style="font-size:22px; text-align:center;">
      <b>ID Producto</b> {{i.idProducto}}
      <br><b>Marca:</b> {{i.detalleProducto}}
      <br><b>caducidad:</b> {{i.fechaCaducidadProducto | date: 'yyyy-MM-dd HH:mm:ss'}}
      <br><b>Contenido:</b> {{i.contenidoProducto}}
      <br><b>Precio Venta:</b> {{i.precioUnitarioProducto}}
      <br><b>Precio Compra:</b> {{i.precioCompraProducto}}
      <br><b>Stock:</b> {{i.stockProducto}}
      <br><b>Categoria:</b> {{i.nombreCategoria}}
      <br><b>Puntos:</b> {{i.puntosProducto}}
      <br><b>Pais Origen:</b> {{i.paisOrigenProducto}}
      <br><b>Almacen:</b> {{i.ciudadAlmacen}}
      <br><b>Tel. Almacen:</b> {{i.telefonoAlmacen}}
    </p>
  </div>
  <div class="modal-footer">
    <button mat-stroked-button class="btnAgregar fuenteCuerpos margenSuperior" (click)="modal.dismiss('Cross click')" style="font-size: 19px;">Cerrar</button>
  </div>
</ng-template>
