.imagenFondo{
  background: url('../../assets/img/fondo10.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

//CARD DONDE ESTAN LA MAYORIA DE COMPONENTES (COMO LA TABLA)
.cardPrincipal{
  background-color: #000000bd;
  border-radius: 6px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  transition: 0.5s;
}

//BTN PARA EJECUTAR UNA PETICION POST O PUT DEL MODAL
.btnEjecutar{
    color: #191818;
    border: solid 1px #676767;
    margin: auto;
    width: 65%;
}

//LONGITUDES DE LA TABLA, EVITA QUE SE DESBORDEN LOS DATOS DE LA TABLA
.tablaElastica{
  overflow-y: auto;
  min-height: auto;
  max-height: 45%;
  transition: 0.5s;
}

//PARA POPOVER DE MAS INFORMACION
.popover{
  z-index: 1005!important;
}

//SOBREESCRIBIR EL TEMA DE ANGULAR MATERIAL PARA EL INPUT DE BUSCAR:
::ng-deep .mat-focused {
  /*change color of label*/
  color: darkseagreen !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: darkseagreen !important;
}

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: darkseagreen !important;;
}

::ng-deep.mat-form-field-label{
  color: darkseagreen !important;
}

//SOBREESCRIBIR DATEPICKER PARA QUE SE VEA ARRIBA DEL MODAL
::ng-deep.mat-datepicker-content{
  z-index: 10001!important;
}
::ng-deep.mat-calendar{
  z-index: 10001!important;
}
::ng-deep.cdk-overlay-container {
    z-index: 10001!important;
}
