  <br>
  <mat-card class="contenedorAcciones" style="width: 80%;">
    <div class="row">
      <div class="col-2" style="margin-right: -10%;">
        <button mat-fab class="btnAcciones fuenteTitulos" (click)="openAlta(content)"><i class='fas fa-user-plus icono'></i></button>
      </div>

      <div class="col-10" style="margin-top: -5px;margin-left:10px">
        <mat-form-field class="fuenteCuerpos inputBuscar" style="">
          <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <br>

  <!-- card contenedora de tabla -->
  <div name="cardTablaRegistros">
    <mat-card style="width: 98%;margin: auto;">
      <div class="tablaElastica">
        <table mat-table [dataSource]="dsVendedores" class="fuenteCuerpos" style="font-size:98px">

        <ng-container matColumnDef="idVendedor">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
          <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idVendedor}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreVendedor">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Nombre </th>
          <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreVendedor}} </td>
        </ng-container>

        <ng-container matColumnDef="ciudadVendedor">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Ciudad </th>
          <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.ciudadVendedor}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoVendedor">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Edo. </th>
          <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.estadoVendedor}} </td>
        </ng-container>

        <ng-container matColumnDef="telefonoVendedor">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Telefono </th>
          <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.telefonoVendedor}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
          <td mat-cell *matCellDef="let i" style="text-align:center">
              <button mat-flat-button color="accent" class="fuenteCuerpos btnAccionesColumna" (click)="openScrollableContentVendedor(longContentVendedor,i.idVendedor)">Informacion</button>
              <button mat-flat-button color="accent" style="margin-left: 2px;" class="fuenteCuerpos btnAccionesColumna"  (click)="openEditar(content,i.idVendedor,i.nombreVendedor, i.ciudadVendedor, i.estadoVendedor, i.direccionVendedor, i.telefonoVendedor, i.emailVendedor, i.fechaNacimientoVendedor, i.rfcVendedor, i.numeroSeguroSocialVendedor, i.antiguedadVendedor)">Modificar</button>
              <button mat-flat-button color="accent" style="margin-left: 2px;" class="fuenteCuerpos btnAccionesColumna"  (click)="eliminarVendedor(i.idVendedor)">Eliminar</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsVendedores"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsVendedores;"></tr>
      </table>
      </div>
      <mat-paginator [pageSize]="4" [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons class="colorPaginador"></mat-paginator>
    </mat-card>
  </div>

<!-- modal para el llenado de datos -->

  <ng-template #content let-modal>
    <div class="modal-header" style="background: #2d618c;color: white;">
      <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin-left:23%;">{{titulo}}&nbsp;<i class='fas fa-users' style='font-size: 20px;'></i></h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmVendedores">
         <input formControlName="idVendedor" type="hidden">

         <div name="par1NombreCiudad" style="display:flex;">
           <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
             <input formControlName="nombreVendedor" type="text"  matInput placeholder="Nombre Vendedor" style="text-align:center;color:#272727">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.nombreVendedor.invalid && frmVendedores.controls.nombreVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
           <mat-form-field class="fuenteCuerpos inputModal">
             <input formControlName="ciudadVendedor"  type="text" matInput placeholder="Ciudad Vendedor" style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.ciudadVendedor.invalid && frmVendedores.controls.ciudadVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
         </div>

         <div name="par2EstadoDireccion" style="display:flex;">
           <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
             <input formControlName="estadoVendedor" type="text" matInput  placeholder="Estado Vendedor"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.estadoVendedor.invalid && frmVendedores.controls.estadoVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
           <mat-form-field class="fuenteCuerpos inputModal">
             <input formControlName="direccionVendedor" type="text" matInput  placeholder="Direccion Vendedor"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.direccionVendedor.invalid && frmVendedores.controls.direccionVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
         </div>

         <div name="par3TelefonoEmail" style="display:flex;">
           <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
             <input formControlName="telefonoVendedor" type="text" matInput  placeholder="Telefono"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.telefonoVendedor.invalid && frmVendedores.controls.telefonoVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
           <mat-form-field class="fuenteCuerpos inputModal">
             <input formControlName="emailVendedor" type="text" matInput  placeholder="Email"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.emailVendedor.invalid && frmVendedores.controls.emailVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
         </div>

         <div name="par4NacimientoRFC" style="display:flex;">
           <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
             <input formControlName="fechaNacimientoVendedor" matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento"  style="text-align:center;color:#272727;">
             <mat-datepicker-toggle matSuffix [for]="picker" style="color: #dddad3;"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.fechaNacimientoVendedor.invalid && frmVendedores.controls.fechaNacimientoVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
           <mat-form-field class="fuenteCuerpos inputModal">
             <input formControlName="rfcVendedor" type="text" matInput  placeholder="RFC"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.rfcVendedor.invalid && frmVendedores.controls.rfcVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
         </div>

         <div name="par5NSSAntiguedad" style="display:flex;">
           <mat-form-field class="fuenteCuerpos inputModal" style="margin-right:15px;">
             <input formControlName="numeroSeguroSocialVendedor" type="number" min="1" matInput  placeholder="NSS"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.numeroSeguroSocialVendedor.invalid && frmVendedores.controls.numeroSeguroSocialVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
           <mat-form-field class="fuenteCuerpos inputModal">
             <input formControlName="antiguedadVendedor" type="number" min="1" matInput placeholder="Antiguedad Vendedor"  style="text-align:center;color:#272727;">
           </mat-form-field>
           <label *ngIf="frmVendedores.controls.antiguedadVendedor.invalid && frmVendedores.controls.antiguedadVendedor.dirty" style="color:red;">Este campo es obligatorio</label>
           <br>
         </div>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-flat-button color="accent" style="width: 100%;font-size: 22px;" class="fuenteCuerpos margenSuperior" [disabled]="frmVendedores.invalid" (click)="ejecutarPeticion()">Ejecutar</button>
    </div>
  </ng-template>

  <!-- modal para mostrar Informacion detallada del vendedor -->
  <ng-template #longContentVendedor let-modal>
    <div class="modal-header" style="background: #2d618c;color: white;">
      <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin:auto;">
        Detalles del Vendedor
        <i class='fas fa-users' style='font-size: 20px;'></i>
      </h3>
    </div>
    <div id="etiquetaPDF" class="modal-body" *ngFor="let i of arregloDetalleVendedor">
      <p class="fuenteCuerpos" style="font-size:22px;text-align:center;">
        <b>ID:</b> {{i.idVendedor}}
        <br><b>Nombre:</b> {{i.nombreVendedor}}
        <br><b>Ciudad:</b> {{i.ciudadVendedor}}
        <br><b>Estado:</b> {{i.estadoVendedor}}
        <br><b>Dirección:</b> {{i.direccionVendedor}}
        <br><b>Telefono:</b> {{i.telefonoVendedor}}
        <br><b>Email:</b> {{i.emailVendedor}}
        <br><b>Fecha Nacimiento:</b> {{i.fechaNacimientoVendedor | date: 'yyyy-MM-dd HH:mm:ss'}}
        <br><b>RFC:</b> {{i.rfcVendedor}}
        <br><b>NSS:</b> {{i.numeroSeguroSocialVendedor}}
        <br><b>Antiguedad:</b> {{i.antiguedadVendedor}}
      </p>
    </div>
    <div class="modal-footer">
      <button mat-flat-button color="accent" class="btnAgregar fuenteCuerpos margenSuperior" (click)="generarPDF('etiquetaPDF')" style="font-size: 19px;">Imprimir</button>
      <button mat-flat-button color="accent" class="btnAgregar fuenteCuerpos margenSuperior" (click)="modal.dismiss('Cross click')" style="font-size: 19px;">Cerrar</button>
    </div>
  </ng-template>
