.contenido{
  width: 100vw;
  height: auto;
  margin: 0 auto;
  display: block;
}

//LONGITUDES DE LA TABLA, EVITA QUE SE DESBORDEN LOS DATOS DE LA TABLA
.tablaElastica{
  overflow-y: auto;
  min-height: 15%;
  max-height: 45%;
  transition: 0.5s;
}

//ICONO LUPA DE INPUT BUSCAR
.lupa{
  font-size: 20px;
  margin: 10px 0px 0px 10px;
  color:#012440;
}

.colorPaginador{
  width: 99.99%;
  background:#2d618c!important;
  color:white
}

//SOBREESCRIBIMOS TEMA UNICAMENTE PARA ESTE COMPONENTE
//modificamos el cuerpo de la tabla unicamente
::ng-deep.mat-cell{
  font-size: 18px !important;
  color: #012440!important;
  background-color: white!important;
}

::ng-deep.mat-select-value {
  color: white!important;
}
