<br>
<br>
<br>
    <mat-tab-group id="contenido">
      <!-- primer tab -->

      <mat-tab label="Historial Ventas">
        <br>
        <mat-card class="contenedorAcciones" style="height: 14%;">
          <div class="row">
            <div class="col-1">
              <i class='fas fa-search lupa'></i>
            </div>
            <div class="col-11" style="margin-top: -5px;">
              <mat-form-field class="fuenteCuerpos inputBuscar">
                <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar">
              </mat-form-field>
            </div>
          </div>
        </mat-card>
        <br>
        <div name="cardTablaRegistros">
          <mat-card style="width: 98%;margin: auto;">
            <div class="tablaElastica">
              <table mat-table [dataSource]="dsTransacciones" class="fuenteCuerpos">
                <ng-container matColumnDef="idTransaccion">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
                  <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.idTransaccion}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreCliente">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cliente </th>
                  <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.nombreCliente}} </td>
                </ng-container>

                <ng-container matColumnDef="apellidoPaternoCliente">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Apellido P.</th>
                  <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.apellidoPaternoCliente}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaTransaccion">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
                  <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center"> {{elemento.fechaTransaccion | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
                  <td mat-cell *matCellDef="let elemento; let i = index" style="text-align:center">
                    <button mat-stroked-button class="fuenteCuerpos btnAccionesColumna" (click)="openScrollableContentVentas(longContentVentas,elemento.idTransaccion)">Información</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsTransacciones"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsTransacciones;"></tr>
              </table>

            </div>
            <mat-paginator #MatPaginatorTransacciones [pageSize]="4" [pageSizeOptions]="[4, 16, 32]" style="width: 99.99%;background-color: white!important;">
            </mat-paginator>
          </mat-card>
        </div>
        <mat-card class="letreroModulo">
          <div style="margin-bottom: -14px;">
            Historial Ventas <i class='fas fa-calendar' style='font-size: 20px;'></i>
          </div>
        </mat-card>
      </mat-tab>


      <!-- segundo tab -->


      <mat-tab label="Historial Compras">
        <br>
        <mat-card class="contenedorAcciones" style="height: 14%;">
          <div class="row">
            <div class="col-1">
              <i class='fas fa-search lupa'></i>
            </div>
            <div class="col-11" style="margin-top: -5px;">
              <mat-form-field class="fuenteCuerpos inputBuscar">
                <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
              </mat-form-field>
            </div>
          </div>
        </mat-card>
        <br>
        <div name="cardTablaRegistros">
          <mat-card style="width: 98%;margin: auto;">
            <div class="tablaElastica">
              <table mat-table [dataSource]="dsCompras" class="fuenteCuerpos" style="font-size:98px">

                <ng-container matColumnDef="idCompra">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
                  <td mat-cell *matCellDef="let elemento" style="text-align:center"> {{elemento.idCompra}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaCompra">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
                  <td mat-cell *matCellDef="let elemento" style="text-align:center"> {{elemento.fechaCompra  | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreUsuario">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Comprador </th>
                  <td mat-cell *matCellDef="let elemento" style="text-align:center"> {{elemento.nombreUsuario}} </td>
                </ng-container>

                <ng-container matColumnDef="nombreProveedor">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Proveedor </th>
                  <td mat-cell *matCellDef="let elemento" style="text-align:center"> {{elemento.nombreProveedor}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef style="text-align:center"> Acciones </th>
                  <td mat-cell *matCellDef="let elemento" style="text-align:center">
                    <button mat-stroked-button class="fuenteCuerpos btnAccionesColumna" (click)="openScrollableContentCompras(longContentCompras,elemento.idCompra)">Información</button>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumnsCompras"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsCompras;"></tr>
              </table>

            </div>
            <mat-paginator #MatPaginatorCompras [pageSize]="4" [pageSizeOptions]="[10, 20, 30]" style="width: 99.99%;background-color: white!important;">
            </mat-paginator>
          </mat-card>
        </div>
        <mat-card class="letreroModulo">
          <div style="margin-bottom: -14px;">
            Historial Compras <i class='fas fa-calendar' style='font-size: 20px;'></i>
          </div>
        </mat-card>

      </mat-tab>
    </mat-tab-group>

<!-- SECCION DE MODALELES -->


  <!-- codigo modal Ventas -->
  <ng-template #longContentVentas let-modal>
    <div class="modal-header">
      <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin:auto;">
        Detalles de Venta
        <i class='fas fa-file-alt' style='font-size:24px'></i>
      </h3>
    </div>
    <div id="etiquetaPDF" class="modal-body" *ngFor="let i of arregloDetalleVenta">
      <p class="fuenteCuerpos" style="font-size:22px;text-align:center;">
        <b>Id Venta:</b> {{i.idVenta}}<br>
        <b>Nombre cliente:</b> {{i.nombreCliente}}<br>
        <b>Productos:</b> {{i.productos}}<br>
        <b>Monto $:</b> {{i.monto}}<br>
        <b>Iva total $:</b> {{i.iva}}<br>
        <b>Fecha:</b> {{i.fecha | date: 'yyyy-MM-dd HH:mm:ss'}}<br>
        <b>N°Productos:</b> {{i.numeroProductosTransaccion}}<br>
        <b>Vendedor:</b> {{i.vendedor}}<br>
        <b>Cliente:</b> {{i.cliente}}<br>
        <b>TipoPago:</b> {{i.tipoPago}}<br>
      </p>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnAgregar fuenteCuerpos margenSuperior" (click)="generarPDF('etiquetaPDF')" style="font-size: 19px;">Imprimir</button>
      <button mat-stroked-button class="btnAgregar fuenteCuerpos margenSuperior" (click)="modal.dismiss('Cross click')" style="font-size: 19px;">Aceptar</button>
    </div>
  </ng-template>

  <!-- codigo modal compras -->
  <ng-template #longContentCompras let-modal>
    <div class="modal-header">
      <h3 class="modal-title fuenteTitulos" id="modal-basic-title" style="margin:auto;">
        Detalles de Compras
        <i class='fas fa-file-alt' style='font-size:24px'></i>
      </h3>
    </div>
    <div id="etiquetaPDF2" class="modal-body" *ngFor="let i of arregloDetalleCompra">
      <p class="fuenteCuerpos" style="font-size:22px;text-align:center">
        <b>Id Compra:</b> {{i.idCompra}}<br>
        <b>Monto $:</b> {{i.monto}}<br>
        <b>Productos:</b> {{i.productos}}<br>
        <b>Fecha:</b> {{i.fecha | date: 'yyyy-MM-dd HH:mm:ss'}}<br>
        <b>N°Productos:</b> {{i.numeroProductosCompra}}<br>
        <b>Comprador:</b> {{i.nombreUsuario}}<br>
        <b>Proveedor:</b> {{i.nombreProveedor}}<br>
      </p>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnAgregar fuenteCuerpos margenSuperior" (click)="generarPDF('etiquetaPDF2')" style="font-size: 19px;">Imprimir</button>
      <button mat-stroked-button class="btnAgregar fuenteCuerpos margenSuperior" (click)="modal.dismiss('Cross click')" style="font-size: 19px;">Aceptar</button>
    </div>
  </ng-template>
