<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="transition:0.5s;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>


  <mat-card class="cardPrincipal row">
  <mat-tab-group>
    <!-- primer tab -->

    <mat-tab label="Historial Ventas">
      <br>
      <mat-card class="contenedorAcciones" style="height: 14%;">
        <div class="row">
          <div class="col-1">
            <i class='fas fa-search lupa'></i>
          </div>
          <div class="col-11" style="margin-top: -5px;">
            <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
              <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <br>
      <div class="tablaElastica">
        <table mat-table [dataSource]="dsTransacciones" class="darkerFuenteCuerpos" style="font-size:98px">

          <ng-container matColumnDef="idTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.idTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreProducto">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Producto </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreProducto}} </td>
          </ng-container>

          <ng-container matColumnDef="montoIvaTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Monto ($) </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.montoConIvaTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="pagoTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Pago ($) </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.pagoTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="cambioTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cambio ($) </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.cambioTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.fechaTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="numeroProductosEnTransaccion">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> n.° Productos </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.numeroProductosEnTransaccion}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreVendedor">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Vendedor </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreVendedor}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreCliente">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Cliente </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.nombreCliente}} </td>
          </ng-container>

          <ng-container matColumnDef="tipoPago">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Tipo Pago  </th>
            <td mat-cell *matCellDef="let i" style="text-align:center"> {{i.tipoPago}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsTransacciones"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsTransacciones;"></tr>
        </table>

      </div>
      <mat-paginator #MatPaginatorTransacciones
                     [pageSize]="4"
                     [pageSizeOptions]="[4, 16, 32]"
                     style="width: 99.99%;background:#eae4dda1;">
       </mat-paginator>
      <mat-card class="letreroModulo">
        <div style="margin-bottom: -14px;">
          Transacciones <i class='fas fa-calendar' style='font-size: 20px;color: darkseagreen;'></i>
        </div>
      </mat-card>
    </mat-tab>


    <!-- segundo tab -->


    <mat-tab label="Historial Compras">
      <br>
      <mat-card class="contenedorAcciones" style="height: 14%;">
        <div class="row">
          <div class="col-1">
            <i class='fas fa-search lupa'></i>
          </div>
          <div class="col-11" style="margin-top: -5px;">
            <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
              <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
            </mat-form-field>
          </div>
        </div>
      </mat-card>
      <br>
      <div class="tablaElastica">
        <table mat-table [dataSource]="dsCompras" class="darkerFuenteCuerpos" style="font-size:98px">

          <ng-container matColumnDef="idCompra">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> ID </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.idCompra}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreProducto">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Producto </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.nombreProducto}} </td>
          </ng-container>

          <ng-container matColumnDef="numeroProductosEnCompra">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> n.° Productos </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.numeroProductosEnCompra}} </td>
          </ng-container>

          <ng-container matColumnDef="montoCompra">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Monto ($) </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.montoCompra}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaCompra">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Fecha </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.fechaCompra}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreProveedor">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Proveedor </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.nombreProveedor}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreUsuario">
            <th mat-header-cell *matHeaderCellDef style="text-align:center"> Comprador </th>
            <td mat-cell *matCellDef="let j" style="text-align:center"> {{j.nombreUsuario}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCompras"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCompras;"></tr>
        </table>

      </div>
      <mat-paginator #MatPaginatorCompras
                     [pageSize]="4"
                     [pageSizeOptions]="[10, 20, 30]"
                     style="width: 99.99%;background:#eae4dda1;">
       </mat-paginator>
      <mat-card class="letreroModulo">
        <div style="margin-bottom: -14px;">
          Compras <i class='fas fa-calendar' style='font-size: 20px;color: darkseagreen;'></i>
        </div>
      </mat-card>

    </mat-tab>
  </mat-tab-group>
</mat-card>







  <!-- codigo modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title darkerFuenteTitulos" id="modal-basic-title">{{titulo}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmProveedores">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="nombreProveedor" type="text"  matInput placeholder="Nombre Proveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.nombreProveedor.invalid && frmProveedores.controls.nombreProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="ciudadProveedor"  type="text" matInput placeholder="ciudadProveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.ciudadProveedor.invalid && frmProveedores.controls.ciudadProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="estadoProveedor" type="text" matInput step="0.01" placeholder="Estado Proveedor"  style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.estadoProveedor.invalid && frmProveedores.controls.estadoProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="paisProveedor" type="text" matInput placeholder="Pais" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.paisProveedor.invalid && frmProveedores.controls.paisProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="direccionProveedor" type="text" matInput placeholder="Direccion Proveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.direccionProveedor.invalid && frmProveedores.controls.direccionProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="telefonoProveedor" type="text" matInput placeholder="Telefono Proveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.telefonoProveedor.invalid && frmProveedores.controls.telefonoProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="emailProveedor" type="text" matInput placeholder="Email Proveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.emailProveedor.invalid && frmProveedores.controls.emailProveedor.dirty">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="descripcionProveedor" type="text" matInput placeholder="Descripcion Proveedor" style="text-align: center;">
        </mat-form-field>
        <label *ngIf="frmProveedores.controls.descripcionProveedor.invalid && frmProveedores.controls.descripcionProveedor.dirty">Este campo es obligatorio</label>
        <br>
      </form>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button class="btnAgregar darkerFuenteTitulos margenSuperior">Agregar</button>
    </div>
  </ng-template>

</div>
