<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar animacionCambioColor" style="transition:0.5s;" (click)="openBottomSheet()">
    <div class="margenMenu">
      <i class='fas fa-bars' style='font-size: 18px;color: darkseagreen'></i> Menu
    </div>
  </mat-toolbar>
  <br>
  <mat-card class="contenedorAcciones" style="height:14%;width: 80%;">
    <div class="row">
      <div class="col-3" style="margin-right: -10%;">
        <button mat-fab class="btnAcciones darkerFuenteTitulos" (click)="openAlta(content)"><i class='fas fa-user-plus icono'></i></button>
        &nbsp;
        <button mat-fab class="btnAcciones darkerFuenteTitulos" [routerLink]="[ '/home']"><i class='fas fa-print icono'></i></button>
      </div>

      <div class="col-9" style="margin-top: -5px;">
        <mat-form-field class="darkerFuenteCuerpos inputBuscar" style="color: darkseagreen;">
          <input matInput (keyup)="filtrarRegistros($event.target.value)" placeholder="Buscar" style="color: darkseagreen;">
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <br>
  <mat-card class="cardPrincipal row">
    <br>
    <div class="tablaElastica">
      <table mat-table [dataSource]="dsCategorias" class="darkerFuenteCuerpos" style="font-size:98px">

        <ng-container matColumnDef="idCategoria">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let i"> {{i.idCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="nombreCategoria">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let i"> {{i.nombreCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="subCategoria">
          <th mat-header-cell *matHeaderCellDef> SubCategoria </th>
          <td mat-cell *matCellDef="let i"> {{i.subCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcionCategoria">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let i"> {{i.descripcionCategoria}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let i">
            <div class="">
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #c3845d;" (click)="openEditar(content,i.idCategoria,i.nombreCategoria,i.subCategoria,i.descripcionCategoria)">Modificar</button>
              <button mat-stroked-button class="darkerFuenteTitulos btnAccionesColumna" style="border: solid 1px #d06363;" (click)="eliminarCategoria(i.idCategoria)">Eliminar</button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsCategorias"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsCategorias;"></tr>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 99.99%;background:#eae4dda1;"></mat-paginator>
    <mat-card class="letreroModulo">
      <div style="margin-bottom: -14px;">
        Categorias <i class='fas fa-bezier-curve' style='font-size: 20px;color: darkseagreen;'></i>
      </div>
    </mat-card>
  </mat-card>

  <!-- modal para llenado de datos  -->

  <ng-template #content let-modal>
    <div class="modal-header">
      <h3 class="modal-title darkerFuenteTitulos" id="modal-basic-title">{{titulo}}</h3>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]= "frmCategorias">
         <input formControlName="idCategoria" type="hidden">
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="nombreCategoria" type="text"  matInput placeholder="Nombre Categoria" style="text-align:center;color:#f6f2ebe3">
        </mat-form-field>
        <label *ngIf="frmCategorias.controls.nombreCategoria.invalid && frmCategorias.controls.nombreCategoria.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="subCategoria"  type="text" matInput placeholder="SubCategoria" style="text-align:center;color:#f6f2ebe3;">
        </mat-form-field>
        <label *ngIf="frmCategorias.controls.subCategoria.invalid && frmCategorias.controls.subCategoria.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
        <mat-form-field class="darkerFuenteCuerpos" style="font-size:20px; width: 100%;">
          <input formControlName="descripcionCategoria" type="text" matInput step="0.01" placeholder="descripcionCategoria"  style="text-align:center;color:#f6f2ebe3;">
        </mat-form-field>
        <label *ngIf="frmCategorias.controls.descripcionCategoria.invalid && frmCategorias.controls.descripcionCategoria.dirty" style="color:#dbd8d1;">Este campo es obligatorio</label>
        <br>
      </form>
    </div>
    <div class="modal-footer" style="background: #f6f2ebe3;">
      <button mat-stroked-button class="btnEjecutar darkerFuenteTitulos margenSuperior" [disabled]="frmCategorias.invalid" (click)="ejecutarPeticion()">Ejecutar</button>
    </div>
  </ng-template>

</div>
