/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.estiloToolbar{
  background-color: #092b239e;
  width: 65vw !important;
  border-radius: 5px;
  margin: 0px auto;
  height: 50px !important;
  margin-top: -6px;
  color: darkseagreen !important;
}

.margenMenu{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
  margin: 0px auto;
  padding-top: 5px;
}

.darkerFuenteTitulos{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
}

.darkerFuenteCuerpos{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
}
//ESTOS SON ESTILOS PARA EL bottomSheet:
.mat-bottom-sheet-container {
    padding: 8px 16px;
    min-width: 100vw;
    box-sizing: border-box;
    display: block;
    outline: 0;
    max-height: 80vh;
    overflow: auto;
    background: #000000bd;
}
.mat-list-text{
  color: darkseagreen !important;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
}
