//TEMA ANGULAR MATERIAL:
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Marcellus+SC&display=swap');


//FUENTES PARA LA PLATAFORMA
.fuenteTitulos{
  font-family: 'Marcellus SC', serif;
}

.fuenteCuerpos{
  font-family: 'Darker Grotesque', sans-serif;
}
//ESTANDAR DE TAMAÑO DE ICONOS
.icono{
  font-size: 15px!important;
  margin-top: -25px!important;
  color: #272727!important;
}

//ESTILOS PARA MODULOS CRUD:
.contenedorAcciones{
  width: 85%;
  margin: auto;
  height: auto;
}

.btnAcciones{
  background: #f6f2ebe3!important;
  width: 40px!important;
  height: 40px!important;
}

.inputBuscar{
  font-size: 20px;
  margin-top: -20px;
  width: 100%;
}
//ESTILOS PARA TABLA CRUD:
table {
  width: 100%;
  background: #eae4dd45!important;
}

.mat-header-cell{ //contenido de cabeceras
  font-size: 20px !important;
  color: #191818 !important;
}
.mat-cell{ //contenido celda
  font-size: 18px !important;
  color: #191818;
}

.btnAccionesColumna{
  width: 100px;
  font-size: 18px!important;
  //color: #191818;
}

//MODAL DE NG-BOOTSTRAP AGREGAMOS ANIMACIONES
@keyframes animacionModal {
  //pasos intermedios en puntos de trayectoria
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1.0)}
}

.modal-content{
  animation-name: animacionModal;
  animation-duration: 0.5s;
}


//SOBREESCRIBIR TEMAS DE ANGULAR MATERIAL
//TABLA
.mat-table {
    background: #fff !important;
}
