.imagenFondo{
  background: url('../../assets/img/fondo2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.margenMenu{
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 26px;
  margin: 0px auto;
  padding-top: 5px;
}
.estiloToolbar{
  background-color: #70b6c4;
  width: 65vw;
  border-radius: 5px;
  margin: 0px auto;
  height: 50px;
  margin-top: -6px;
}
.cardPrincipal{
  background-color: #eef4f9ad;
  border-radius: 6px;
  width: 80%;
  height: 85vh;
  margin: 0 auto;
}
.cardElementos{
  background-color: #70b6c4;
  border-radius: 6px;
  height: 6.5em;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 2.2em;

}
.iconosMenuPrincipal{
  font-size:60px;
  color:#eef4f9ad;
}

.espacioDerecho{
  margin-right: 5px;
}
.espacioSuperior{
  margin-top: 0px;
}
.margenSuperior{ //simula el br que quite para la responsividad a moviles
  margin-top: 30px;
}
//LOS ESTILOS CAMBIARAN EN DISPOSITIVOS CON RESOLUCIONES PEQUEÑAS
@media screen and (max-width: 600px) {
  .cardElementos{
    background-color: #70b6c4;
    border-radius: 5px;
    height: 3em;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
    padding-right: 50px;
    padding-left: 50px;

  }
  .margenSuperior{ //simula el br que quite para la responsividad a moviles
    margin-top: 0px;
  }
  .espacioSuperior{ //espacio entre cards para que no se vean pegadas
    margin-top: 5px;
  }
  .espacioDerecho{
    margin-right: 0px;
  }
  .cardPrincipal{
    background-color: #eef4f9ad;
    border-radius: 6px;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
  }
  .imagenFondo{
    background: url('../../assets/img/fondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 115vh;
    width: 100vw;
  }
}

//DISPOSITIVOS MUY PEQUEÑOS
@media screen and (max-width: 340px) {
  .cardPrincipal{
    background-color: #eef4f9ad;
    border-radius: 6px;
    width: 80%;
    height: 110vh;
    margin: 0 auto;
  }
  .imagenFondo{
    background: url('../../assets/img/fondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top;
    background-size: cover;
    height: 125vh;
    width: 100vw;
  }
}
