<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar" style="background: #000000a1;cursor: pointer;">
    <div class="margenMenu">
      <p>Punto De Venta</p>
    </div>
  </mat-toolbar>
  <br>
  <mat-card class="row cardPrincipal">
    <div class="container">
      <div class="row margenSuperior">
        <div class="col cardElementos espacioDerecho animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome1.jpg');" (click)="irTransacciones()">
          <h4>Transacciones</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome2.jpg');" (click)="irProveedores()">
          <h4>Proveedores</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome3.jpg');" (click)="irClientes()">
          <h4>Clientes</h4>
        </div>
        <div class="col cardElementos espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome4.jpg');" [routerLink]="['/facturas']">
          <h4>Operaciones</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col cardElementos espacioDerecho animacionCambioColor"  style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome5.jpg');" (click)="irProductos()">
          <h4>Productos</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome6.jpg');" (click)="irDevoluciones()">
          <h4>Devoluciones</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome7.jpg');" (click)="irCategoria()">
          <h4>Categorias</h4>
        </div>
        <div class="col cardElementos espacioSuperior animacionCambioColor"  style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome8.jpg');" (click)="irVendedores()">
          <h4>Vendedores</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col cardElementos espacioDerecho animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome9.jpg');" (click)="irHerramientas()">
          <h4>Herramientas</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome10.jpg');" (click)="irUsuarios()">
          <h4>Usuarios</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome11.jpg');" (click)="irAccesos()">
          <h4>Accesos</h4>
        </div>
        <div class="col cardElementos espacioSuperior animacionCambioColor" style="background-image: linear-gradient(#ffffff,#f9f9f98a), url('../../assets/img/fondoHome12.jpg');">
          <h4>Configuración</h4>
        </div>
      </div>
    </div>
  </mat-card>
</div>
