<div class="imagenFondo">
  <mat-toolbar class="estiloToolbar">
    <div class="margenMenu">
      <p>Punto De Venta</p>
    </div>
  </mat-toolbar>
  <br>
  <mat-card class="row cardPrincipal">
    <div class="container">
      <div class="row margenSuperior">
        <div class="col cardElementos espacioDerecho">
          <h4>Transacciones</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior" [routerLink]="[ '/proveedores']">
          <h4>Proveedores</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior">
          <h4>Clientes</h4>
        </div>
        <div class="col cardElementos espacioSuperior">
          <h4>Facturar</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col cardElementos espacioDerecho">
          <h4>Productos</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior">
          <h4>Devoluciones</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior">
          <h4>Categorias</h4>
        </div>
        <div class="col cardElementos espacioSuperior">
          <h4>Vendedores</h4>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col cardElementos espacioDerecho">
          <h4>Herramientas</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior">
          <h4>Usuarios</h4>
        </div>
        <div class="col cardElementos espacioDerecho espacioSuperior">
          <h4>Accesos</h4>
        </div>
        <div class="col cardElementos espacioSuperior">
          <h4>Configuración</h4>
        </div>
      </div>
    </div>
  </mat-card>
</div>
